.food-item{
    border: 2px solid rgb(236, 185, 185);
    border-radius: 10px;
    padding: 10px;
}

.food-item img{
    border-radius: 5px;
}
.food-name{
    color: rgb(211, 19, 83);
}

.item-details{
    margin-top: 15px;
    text-align: left;
    line-height: 10px;
}

.add-to-cart-btn{
    border: none;
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 207, 189);
    border-radius: 50px;
}
.add-to-cart-btn:hover{
    background-color: rgb(255, 144, 104);
}
